#!/bin/bash -ex
set -o pipefail
BACKUP_FILE="/var/ccp/backup/nova/backup-$(date "+%Y%m%d%H%M%S").sql"
mysqldump {% if db.tls.enabled %} --ssl-mode REQUIRED {% endif %} -h {{ address(database) }} \
    -u {{ nova.db.username }} -p{{ nova.db.password }} \
    --single-transaction {{ nova.db.name }} > "${BACKUP_FILE}"
BACKUP_FILE_API="/var/ccp/backup/nova/backup-$(date "+%Y%m%d%H%M%S")-api.sql"
mysqldump {% if db.tls.enabled %} --ssl-mode REQUIRED {% endif %} -h {{ address(database) }} \
    -u {{ nova.db.username }} -p{{ nova.db.password }} \
    --single-transaction {{ nova.db.api_name }} > "${BACKUP_FILE_API}"
