# This whole approach is very insecure. Fixme.
virsh secret-define --file /etc/libvirt/secrets/secret.xml
virsh secret-set-value --secret {{ cinder_rbd_secret_uuid }} --base64 {{ cinder_ceph_key }}
rm -f /etc/libvirt/secrets/secret.xml /opt/ccp/bin/ceph-libvirt-secret-config.sh
