#!/bin/bash

set -ex

export OS_IDENTITY_API_VERSION=3
export OS_INTERFACE="internal"
export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD={{ openstack.user_password }}
export OS_USERNAME={{ openstack.user_name }}
export OS_PROJECT_NAME={{ openstack.project_name }}
export OS_AUTH_URL="{{ address('keystone', keystone.admin_port, with_scheme=True) }}/v3"

function ensure_flavor {
    openstack flavor show $1 || openstack --os-region-name=RegionOne \
        flavor create --id $2 --ram $3 --disk $4 --vcpus $5 $1
}

{% for flavor in nova.bootstrap.flavors %}
    ensure_flavor "{{ flavor.name }}" "{{ flavor.id }}" "{{ flavor.ram }}" \
        "{{ flavor.disk }}" "{{ flavor.vcpus }}"
{% endfor %}
