#!/bin/bash

name=$1
id=$2
ram=$3
disk=$4
vcpus=$5

set -ex

export OS_IDENTITY_API_VERSION=3
export OS_INTERFACE="internal"
export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD={{ openstack.user_password }}
export OS_USERNAME={{ openstack.user_name }}
export OS_PROJECT_NAME={{ openstack.project_name }}
export OS_AUTH_URL="{{ address('keystone', keystone.admin_port, with_scheme=True) }}/v3"
{% if security.tls.create_certificates %}
export OS_CACERT="/opt/ccp/etc/tls/ca.pem"
{% endif %}

flavor_params="--id $id"
flavor_params+=" --ram $ram"
flavor_params+=" --disk $disk"
flavor_params+=" --vcpus $vcpus"
{% if nova.libvirt.hugepages %}
flavor_params+=" --property hw:mem_page_size=large"
{% endif %}
openstack flavor show $name || openstack --os-region-name=RegionOne \
    flavor create $flavor_params $name
