{% if security.tls.enabled %}
daemon off;

events {
}

http {
   upstream novncproxy {
       server 127.0.0.1:{{ nova.tls.novncproxy_port }};
   }

   server {
           listen {{ nova.novncproxy_port.cont }};
           ssl on;
           ssl_certificate /etc/nginx/ssl/certs/server-cert.pem;
           ssl_certificate_key /etc/nginx/ssl/private/server-key.pem;
           ssl_trusted_certificate /etc/nginx/ssl/certs/ca-cert.pem;

           location / {
                   proxy_pass http://novncproxy;
                   proxy_set_header Host $host:$server_port;
                   proxy_set_header X-Real-IP $remote_addr;
                   proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                   proxy_set_header X-Forwarded-Proto $scheme;
           }
   }
}
{% endif %}
