# nova-ironic.conf
[DEFAULT]
host = {{ node_name }}
compute_driver = ironic.IronicDriver
ram_allocation_ratio=1.0
reserved_host_memory_mb=0
# ironic is not working with vfat
config_drive_format = iso9660

[ironic]
api_endpoint = {{ address('ironic-api', ironic.api_port, with_scheme=True) }}/v1
auth_url = {{ address('keystone', keystone.admin_port, with_scheme=True) }}
auth_strategy = keystone
auth_plugin = password
project_domain_name = default
user_domain_id = default
project_name = service
username = {{ ironic.username }}
password = {{ ironic.password }}
