#!/bin/bash

export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_NAME=admin
export OS_USERNAME={{ openstack_user_name }}
export OS_PASSWORD={{ openstack_user_password }}
export OS_AUTH_URL=http://keystone:{{ keystone_public_port }}/v3
export OS_IDENTITY_API_VERSION=3

echo "Creating database"
mysql -v -u root -p{{ db_root_password }} -h mariadb -e 'create database {{ nova_db_name }}; create database `{{ nova_api_db_name }}`'
mysql -v -u root -p{{ db_root_password }} -h mariadb -e 'grant all privileges on {{ nova_db_name }}.* to "{{ nova_db_username }}"@"%" identified by "{{ nova_db_password }}";grant all privileges on `{{ nova_api_db_name }}`.* to "{{ nova_db_username }}"@"%" identified by "{{ nova_db_password }}"'

echo "Creating a user"
openstack user create --project service --password {{ nova_db_password }} {{ nova_db_username }}
echo "Adding role to user"
openstack role add admin --project service --user {{ nova_db_username }}
echo "Creating a role - done"
echo "Creating a service"
openstack service create --name nova --description "OpenStack Compute" compute

echo "Creating internal endpoint"
openstack endpoint create --region RegionOne \
      compute internal http://nova-api:{{ nova_api_port }}/v2/%\(tenant_id\)s

echo "Creating admin endpoint"
openstack endpoint create --region RegionOne \
      compute admin  http://nova-api:{{ nova_api_port }}/v2/%\(tenant_id\)s

echo "Creating public endpoint"
openstack endpoint create --region RegionOne \
      compute public http://nova-api:{{ nova_api_port }}/v2/%\(tenant_id\)s
